@tailwind base;
@tailwind components;
@tailwind utilities;

.reallyfull {
    height: calc(100vh - 56px);
}

.reallyfulltable {
    height: calc(100vh - 100px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}


.layout-enter-active,
.layout-leave-active {
    transition: opacity 0.5s;

}
.layout-enter,
.layout-leave-active {
    opacity: 0;
    background-color: #000000;
}



.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}